ui-code {
	display: flex;
	flex-flow: column nowrap;
	overflow: auto;
}

ui-block {
	flex: 0 0 auto;
	
	display: flex;
	flex-flow: column nowrap;
}
ui-block[collapsed] ui-block,
ui-block[collapsed] ui-line {
	display: none;
}

ui-block[collapsed] ui-line:first-of-type,
ui-line {
	flex: 0 0 auto;
	
	display: flex;
	flex-flow: row nowrap;
	
	font-family: monospace;
	font-size: 12px;
	line-height: 18px;
	font-weight: bold;
}

ui-line::shadow #code {
	white-space: pre-wrap;
	tab-size: 4;
}

ui-block::shadow #expander {
	border-right: 1px solid transparent;
	background: transparent;
	width: 6px;
	margin: 0px 0px 0px 35px;
}

ui-block::shadow #expander:hover {
	border-right: 1px solid green;
	background: #CCC;
}
ui-code {
	background: #FFF;
	transition: background 0.1s;
	transition-delay: 0.05s;
}
ui-code[collapsing] {
	background: #DDD;
	transition: background 0.2s;
	transition-delay: 0.2s;
}
ui-block::shadow #codebg {
	background: transparent;
	transition: background 0.2s;
}
ui-block[collapsing]::shadow #codebg {
	background: white;
	transition: background 0.2s;
	border-radius: 10px;
	left: 45px;
	right: 2px;
	top: -2px;
	bottom: -2px;
}

ui-line::shadow #num {
	color: gray;
	width: 30px;
	
	padding: 0px 7px 0px 4px;
	margin: 0px 15px 0px 0px;
	text-align: right;
	
	/* unselectable */
	-moz-user-select: none; 
	-khtml-user-select: none; 
	-webkit-user-select: none; 
	-o-user-select: none; 
}

ui-block::shadow #toggle {
	position: fixed;
	z-index: 1;
	top: 2px;
	left: 6px;
	margin: 0px -6px;
}

ui-block[collapsed]::shadow #toggle {
	transform: matrix(0.7, -0.6, 0.7, 0.6, -1.5, 0);
}
ui-block[collapsed] ui-line:first-of-type::shadow #code:after {
	content: "...}";
	color: #AAA;
	font-weight: bold;
	border-radius: 4px;
}
ui-block::shadow #toggle path {
	fill: #EEE;
	stroke: #999;
}
ui-block[collapsed]::shadow #toggle path {
	fill: #999;
	stroke: #000;
}

ui-block::shadow #expander:hover #toggle path {
	fill: orange;
}


/* TS specific... */	
ui-code .punctuation {
	color: black;
}
ui-code .keyword {
	color: blue;
}
ui-code .operator {
	color: black;
}
ui-code .comment {
	color: darkgreen;
}
ui-code .whitespace {
	color: black;
}
ui-code .identifier {
	color: black;
}
ui-code .numberliteral {
	color: darkcyan;
}
ui-code .stringliteral {
	color: darkred;
}
ui-code .regexpliteral {
	color: darkorange;
}
